html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

$background: #111827;
$foregroundPrimary: #c3cad4;
$foregroundSecondary: #565a63;
$green: #158b4a;
$greenBackground: #1b5a45;
$red: #da383e;
$redBackground: #42202b;
$purple: #6556b9;
$purpleSecondary: #3a326d;

main {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: $background;
    color: $foregroundPrimary;

    .orderbook {
        display: flex;
        justify-items: start;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        aside {
            width: 350px;

            header {
                height: 35px;
                line-height: 35px;
                padding: 0 2px;
            }

            .header-line {
                height: 25px;
                line-height: 25px;
                font-weight: bold;
                padding: 0 2px;
            }

            .header-line,
            .result-line {
                display: flex;
                justify-items: start;
                align-items: flex-start;
                justify-content: space-evenly;
                align-content: center;
                flex-direction: row;
                flex-wrap: nowrap;

                div {
                    height: 25px;
                    line-height: 25px;
                    padding: 0 2px;
                }

                div:not(.background) {
                    width: 100%;
                    text-align: right;
                    z-index: 1;
                }

                .background {
                    position: absolute;
                    z-index: 0;
                    width: 20%;
                }
            }

            &.green {
                .result-line {
                    justify-content: flex-end;

                    .background {
                        background-color: $greenBackground;
                    }
                }
            }
            &.red {
                header {
                    color: $foregroundSecondary;
                }
                .result-line {
                    justify-content: flex-start;

                    .background {
                        background-color: $redBackground;
                    }
                }
            }
        }
    }
    footer {
        height: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

button {
    background-color: $purple;
    color: $foregroundPrimary;
    min-height: 30px;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0;
    margin: 0 3px;
    border-radius: 3px;
    box-sizing: border-box;
    transition: background-color 0.3s;

    &:hover {
        background-color: $purpleSecondary;
    }
}
