html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

$background: #111827;
$green: #158b4a;
$greenBackground: #1b5a45;
$red: #da383e;
$redBackground: #42202b;
$purple: #6556b9;

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;

    .orderbook {
    }
}
