@import './reset.scss';
@import './colors.scss';

main {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: $background;
    color: $foregroundPrimary;

    .orderbook {
        display: flex;
        justify-items: start;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;

        aside {
            width: 350px;

            header {
                height: 35px;
                line-height: 35px;
                padding: 0 2px;
            }

            .header-line {
                height: 25px;
                line-height: 25px;
                font-weight: bold;
                padding: 0 2px;
            }

            .header-line,
            .result-line {
                display: flex;
                justify-items: start;
                align-items: flex-start;
                justify-content: space-evenly;
                align-content: center;
                flex-direction: row;
                flex-wrap: nowrap;

                div {
                    height: 25px;
                    line-height: 25px;
                    padding: 0 5px;
                }

                div:not(.background) {
                    width: 100%;
                    text-align: right;
                    z-index: 1;
                }

                .background {
                    position: absolute;
                    z-index: 0;
                    width: 0%;
                    transform: translateZ(0);
                }
            }

            &.green {
                .result-line {
                    justify-content: flex-end;

                    .background {
                        background-color: $greenBackground;
                    }
                }
            }
            &.red {
                header {
                    color: $foregroundSecondary;
                    margin-left: -25%;
                }
                .result-line {
                    justify-content: flex-start;

                    .background {
                        background-color: $redBackground;
                    }
                }
            }
        }
    }
    footer {
        height: 40px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

button {
    background-color: $purple;
    color: $foregroundPrimary;
    min-height: 30px;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0;
    margin: 0 3px;
    border-radius: 3px;
    box-sizing: border-box;
    transition: background-color 0.3s;

    &:hover {
        background-color: $purpleSecondary;
    }
}
