html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

$background: #111827;
$foreground: #c3cad4;
$green: #158b4a;
$greenBackground: #1b5a45;
$red: #da383e;
$redBackground: #42202b;
$purple: #6556b9;

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: $background;
    color: $foreground;

    .orderbook {
        display: flex;
        justify-items: start;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        aside {
            width: 350px;

            .header-line,
            .result-line {
                display: flex;
                justify-items: start;
                align-items: flex-start;
                justify-content: space-evenly;
                align-content: center;
                flex-direction: row;
                flex-wrap: nowrap;

                div {
                    width: 100%;
                    text-align: right;
                }
            }

             {
            }
        }
    }
}
